body {
  background-image: url(../img/pokemon_twitch_theme_a_2a_by_masterq2-danm4kn.gif);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #D30A40;
  font-family: 'VT323', monospace;
}

.pokedex {
  width: 47.7em;
  height: 35.3em;
  margin: 1.4em 4.9em;
  border:1px solid black;
  padding: 20px;
  background-color: #084035;
  color: #D3D3D3;
}

.pokedex p {
  font-size: 1.6em;
}

.consulting {
  border: 1px solid black;
  height: 10em;
  margin: 4em 0 0 4em;
  background-color: #084035;
}

.consulting h5 {
  text-align: center;
  color: #D3D3D3;
}

#search-poke {
  text-align: center;
  font-family: monospace;
  margin: 2em 0;
}

.pokeimg {
  border: 2px solid black;
  width: 13em;
  height: auto;
  background-color: #084035;
}

.pokename {
  margin-top: 2em;
  font-weight: bold;
  font-size: 3.2em;
}