body {
  background-color: #D30A40;
  font-family: 'VT323', monospace;
}

.pokedex {
  width: 90%;
  min-height: 60vh;
  margin: 2.5em auto;
  border: .3em solid #FFF;
  padding: 20px;
  background-color: #084035;
  color: #D3D3D3;
  border-radius: 2em 4em 2em 8em;
}

.pokedex p {
  font-size: 1.6em;
}

.consulting {
  border: .3em solid #FFF;
  border-radius: 1em;
  min-height: 20vh;
  margin: 4em auto 0em;
  background-color: #084035;
  width: 90%;
}

.consulting h5 {
  text-align: center;
  color: #D3D3D3;
}

#search-poke {
  text-align: center;
  font-family: monospace;
  margin: 1em 0;
  color: #FFF;
}

.pokeimg {
  width: 95%;
  height: auto;
  background-color: #D3D3D3;
}

.pokename {
  margin-top: 30%;
  font-weight: bold;
  font-size: 3.2em;
}